body {
    background-color: gainsboro;

    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}


/*--------------------------------------------------------------------------------------------------------*/
/*ul li:first-child {*/
/*    color: blueviolet;*/
/*}*/


/*div :last-child {*/
/*    color: #d61147;*/
/*}*/


/*p:first-of-type{*/
/*    color: #0b52ea;*/
/*}*/

/*h2:last-of-type{*/
/*    color: #d61147;*/
/*}*/

/*p:nth-child(4) {*/
/*    color: orange;*/
/*}*/


/*-------------------------------------------------------------------------------------------------------*/
/*div :nth-child(odd) {*/
/*    color: #a40d08;*/
/*}*/


/*div :nth-child(even) {*/
/*    color: #223fbd;*/
/*}*/


/*----------------------------------------------------------------------------------------------------------*/
/*div :nth-child(3n + 1) {*/
/*    color: #ffffff;*/
/*}*/

/*div :nth-child(3n + 2) {*/
/*    color: #2556c9;*/
/*}*/

/*div :nth-child(3n + 3) {*/
/*    color: #a40d08;*/
/*}*/


/*-----------------------------------------------------------------------------------------------------------*/
/*div :nth-child(n+5) {*/
/*    color: #5fdd8b;*/
/*}*/

/*div :nth-child(-n+5) {*/
/*    color: #ec0942;*/
/*}*/


/*------------------------------------------------------------------------------------------------------------*/

/*p:nth-of-type(n+4) {*/
/*    color: #21cc15;*/
/*}*/


/*--------------------------------------------------------------------------------------------------------------*/

/*p:nth-last-of-type(n+4) {*/
/*    color: #0b52ea;*/
/*}*/

/*----------------------------------------------------------------------------------------------------------------*/

/*li:only-of-type {*/
/*    color: red;*/
/*}*/

/*----------------------------------------------------------------------------------------------------------------*/

li:empty {
    display: none;
}