* {
    box-sizing: border-box;
    margin: 0;
}

ul {
    list-style: none;
    padding: 20px 0;
    display: flex;
}

a {
    margin: 20px;
}

section {
    height: 80vh;
    background-color: #dcddf1;
    margin: 5px 0;
    padding: 50px;
    display: none;
}

section:target {
    background-color: #3c8b40;
    display: block;
}

/*section:target h3 {*/
/*    font-size: 60px;*/
/*    color: #03131c;*/
/*}*/